body {
    font-family: livvic;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#map {
    width: 90%;
    height: 700px;
    border: 1px solid black;
    margin: 0 auto;
}

#control-panel {
    background: #fff;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    font-family: livvic;
    font-size: 11px;
    position: absolute; /* Use absolute positioning */
    top: 10px;          /* Distance from the top edge */
    right: 10px;        /* Distance from the right edge */
    z-index: 1000;      /* Ensure it stays above other map layers */
    font-weight: bold;
}

#control-panel p {
    margin-top: 0px;
}

.section-header {
    margin-bottom: 3px;
}

#control-panel label {
    display: flex;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
}

#control-panel input[type="radio"] {
    vertical-align: middle; /* Aligns the checkbox with the text */
    margin: 0 5px 0 0;
}

#control-panel label:hover {
    background-color: #f9f9f9;
    border-radius: 3px;
}

#biomass-label {
    color: green;
}

#species-label {
    color: red;
}

#soil_nitrogen-label {
    color: blue;
}

#soil_organic_carbon-label {
    color: brown;
}

#soil_pH-label {
    color: purple;
}

hr {
    border: none;           /* Remove default border */
    border-top: 1px solid #ccc; /* Add a light gray line */
    margin: 4px 0;          /* Add vertical spacing */
}

.no-bottom-margin {
    margin-bottom: 0px;
}

#pixel-level-modalities-container {
    display: none;
    margin-bottom: 0px;
}

#hover-panel {
    display: none; /* Hide by default */
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    pointer-events: auto;
    max-height: none;
    overflow-y: auto; /* Enable vertical scrolling when necessary */
}

#hover-panel label {
    pointer-events: auto; /* Enable pointer events for the checkbox and label */
    cursor: pointer;
    display: flex;
    align-items: center;
}

#hover-panel input[type="checkbox"] {
    vertical-align: middle; /* Aligns the checkbox with the text */
    cursor: pointer;
}

#task-value-container {
    margin-top: 0px;
    margin-bottom: 5px;
}

#biomass-values-container {
    display: none;
}

#task-value-container input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

#image-level-modalities-container {
    margin-top: 10px;
}

#image-level-modalities-container input[type="checkbox"] {
    margin: 0 10px 0 0;
}

#image-level-modalities-data {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 20px;
}
